.mainPage {
  display: flex;
  margin: auto 20%;
  text-align: justify;
}
.pageText {
  margin: 10px;
}
.pageImages {
  margin: 10px;
  min-width: 50%;
  max-width: 50%;
}
.pageNameMain {
  margin-top: 20px;
}
